.boxRegister {
    display: grid;
    gap: 15px;
    align-items: center;
    max-width: 400px;

    .boxInputs {
        display: grid;
        gap: 10px;
        width: 100%;
        height: max-content;
        transition: height 1s ease, max-height 1s ease;

    }



    .closeIcon {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 30px;
        height: 30px;
        fill: var(--white);
        cursor: pointer;

        &:hover {
            fill: var(--blood);
        }
    }


}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 500px) {
    .boxRegister {
        width: 400px;
    }
}

@media screen and (min-width: 500px) and (max-height: 700px) {}

@media screen and (min-width: 520px) and (min-height: 700px) and (max-height: 900px) {
    .boxRegister {


        .closeIcon {
            right: 20px;
            top: 20px;

        }
    }


}

@media screen and (min-width: 1080px) {
    .boxRegister {


        .closeIcon {
            right: 20px;
            top: 20px;

        }
    }
}