.boxRegister {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: var(--form);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.boxInputs {
    width: 100%;
    height: max-content;
    // transition: height 0.3s ease;
}

.errorP {
    color: red;
    opacity: 0;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.errorP.show {

    opacity: 1;
    max-height: 100px;
    /* Максимальна висота тексту */
}





.btnRegister {
    background: transparent;
    border: 1px solid var(--white);
    margin-top: 20px;
    color: var(--white);

    &:hover {
        background: var(--white);
        color: var(--blood);
    }
}


.closeIcon {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    fill: var(--white);

    &:hover {
        fill: var(--blood);
    }
}

.boxPassword {
    margin-top: 15px;
    width: 100%;
}