@import url('@assets/aniamtions/register.module.scss');


.boxRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .boxInputs {
        width: 100%;
        height: max-content;
        transition: height 1s ease, max-height 1s ease;

    }

    .btnRegister {
        background: transparent;
        border: 1px solid var(--white);
        margin-top: 20px;
        color: var(--white);

        &:hover {
            background: var(--white);
            color: var(--blood);
        }
    }

    .closeIcon {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 30px;
        height: 30px;
        fill: var(--white);
        cursor: pointer;

        &:hover {
            fill: var(--blood);
        }
    }


}

@media screen and (min-width: 480px) {
    .boxRegister {
        .btnRegister {
            width: 300px;
        }
    }

}

@media screen and (min-width: 500px) {
    .boxRegister {
        .btnRegister {
            width: 300px;
        }
    }


}

@media screen and (min-width: 500px) and (max-height: 700px) {
    .boxRegister {

        .btnRegister {
            width: 300px;
        }
    }
}

@media screen and (min-width: 520px) and (min-height: 700px) and (max-height: 900px) {
    .boxRegister {
        .btnRegister {
            width: 300px;
        }

        .closeIcon {
            right: 20px;
            top: 20px;

        }
    }


}

@media screen and (min-width: 1080px) {
    .boxRegister {

        .btnRegister {
            font-size: 20px;
        }

        .closeIcon {
            right: 20px;
            top: 20px;

        }
    }
}