.listPlayers {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .boxPlayer {
        border-radius: 16px;
        border: 1px solid var(--listPlyerItemBorder);
        margin-bottom: 15px;
        color: var(--grayLightText);
        padding: 10px 20px;
        width: 280px;
        height: 330px;
        box-sizing: border-box;
        transition: box-shadow 0.2s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            border: 1px solid var(--listPlyerItemBorderHover);
            box-shadow: var(--filter-box-shadow-hover);
        }

        .namePlayer {
            font-size: 20px;
            color: var(--grayLightText);
            text-align: center;
            word-wrap: break-word;
        }

        .boxSocials {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .imgSocial {
                width: 40px;
                height: 40px;
                filter: grayscale(1);
                cursor: pointer;
                margin-right: 5px;
                transition: all 0.3s ease;

                &:hover {
                    filter: grayscale(0);
                    transform: scale(1.05);
                }

                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .listPlayers {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        justify-items: center;
        gap: 15px;

        .boxPlayer {
            margin-bottom: 0px;
        }


    }

}




@media screen and (min-width: 1024px) {
    .listPlayers {


        .boxPlayer {
            margin-bottom: 0px;
        }
    }
}

@media screen and (min-width: 1320px) {
    .listPlayers {

        .boxPlayer {
            margin-bottom: 0px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .listPlayers {
        max-width: 1700px;

        .boxPlayer {
            margin-bottom: 0px;
        }
    }
}