.listPlayers {
    margin-top: 20px;


    .boxPlayer {
        border-radius: 16px;
        border: 1px solid var(--listPlyerItemBorder);
        margin-bottom: 15px;
        color: var(--grayLightText);
        padding: 20px;

        &:hover {
            border: 1px solid var(--listPlyerItemBorderHover);
            box-shadow: var(--filter-box-shadow-hover);
        }

        .namePlayer {
            font-size: 20px;
            color: var(--grayLightText);
            text-align: center;
        }
    }
}


@media screen and (min-width: 768px) {
    .listPlayers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;

        .boxPlayer {
            margin-bottom: 0px;
        }


    }

}


@media screen and (min-width: 1024px) {
    .listPlayers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

        .boxPlayer {
            margin-bottom: 0px;
        }


    }

}