.selectFilter {
    &__control {
        background: var(--filter-background);
    }


    .optionFilter {
        background: var(--filter-background);
        transition: all 0.3s ease;
        color: var(--black)
    }

    .optionFilterHover {

        color: var(--black)
    }

    .optionFiFilterSelect {
        background: var(--select-backgroundSelect);

        &:hover {


            &:focus {
                background: var(--filter-background);
            }
        }
    }
}