.errorP {
    color: var(--white);
    text-stroke: 1px var(--strokeError);
    -webkit-text-stroke: 1px var(--strokeError);
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    text-align: center;
}