.btnRegister {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    min-width: 200px;
    transition: all 0.3s ease;
    height: 45px;

    &:hover {
        background: var(--white);
        color: var(--blood);
    }
}





@media screen and (min-width: 768px) {

    .btnRegister {
        height: 50px;
        font-size: 20px;

    }

}