.dark-theme {
    --buttonAuth: rgba(158, 55, 164, 1);
    --buttonAuthHover: white;
    --whiteText: white;
    --white: white;
    --grayLightText: #d6ceda;
    --black: black;
    --blood: #ce0000;
    --form: linear-gradient(58deg, rgba(24, 26, 27, 1) 0%, rgba(107, 107, 107, 1) 50%, rgba(24, 26, 27, 1) 100%);
    --leftHomeText: #FFB6C1;
    --rightHomeText: #D8BFD8;
    --inputBackground: #808080;
    --pale-text: rgba(255, 255, 255, 0.6);
    --placeholder: rgba(255, 255, 255, 0.6);
    --strokeError: black;
    --team-background: #1b1121;
    --filter-background: #cfc6d0;
    --filter-box-shadow-hover: 0px 0px 10px -1px rgba(255, 255, 255, 1);
    --listPlyerItemBorder: #6f6671;
    --listPlyerItemBorderHover: #978d9a;
    --text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    --post-page-background: #060807;
    --select-checkbox: #613e88;
    --green: #006A4E;
    --filterShdowIcon: 0 0 1.5px white;
}

.light-theme {
    --buttonAuth: white
}