.dark-theme {
    --buttonAuth: rgba(158, 55, 164, 1);
    --buttonAuthHover: white;
    --whiteText: white;
    --leftHomeText: #FFB6C1;
    --rightHomeText: #D8BFD8;
}

.light-theme {
    --buttonAuth: white
}