.dark-theme {
    --buttonAuth: rgba(158, 55, 164, 1);
    --buttonAuthHover: white;
    --whiteText: white;
    --white: white;
    --black: black;
    --blood: #ce0000;
    --form: linear-gradient(58deg, rgba(24, 26, 27, 1) 0%, rgba(107, 107, 107, 1) 50%, rgba(24, 26, 27, 1) 100%);
    --leftHomeText: #FFB6C1;
    --rightHomeText: #D8BFD8;
    --inputBackground: #808080;
    --placeholder: rgba(255, 255, 255, 0.6)
}

.light-theme {
    --buttonAuth: white
}